# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter / Dart önbellekleri
.dart_tool/
.packages
.pub/
build/

# iOS uygulaması için çeşitli önbellekler
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/App.framework.dSYM
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.framework.dSYM
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/

# Android uygulaması için çeşitli önbellekler
.android/
build.gradle
*.iml
.gradle/
local.properties
/.idea/
/.android/
/captures/

# macOS / Xcode önbellekleri
.DS_Store
*.xcuserstate
*.xcworkspace/
*.pbxproj
*.mode1v3
*.mode2v3
*.perspectivev3
*.perspectivev3.workspacestate
DerivedData/

# Android / IntelliJ önbellekleri
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/*.iml
**/android/.idea/workspace.xml
**/android/.idea/libraries/
**/android/.idea/caches/
**/android/.idea/modules.xml
**/android/.idea/navEditor.xml
**/android/.idea/assetWizardSettings.xml
**/android/.idea/dictionaries/
**/android/.idea/gradle.xml
**/android/.idea/codeStyles/
**/android/.idea/vcs.xml
**/android/.idea/misc.xml
**/android/.idea/encodings.xml
**/android/.idea/jarRepositories.xml
**/android/.idea/compiler.xml
**/android/.idea/gradle-runner.xml

# Flutter test ve uygulama yapılandırma dosyaları
**/test/widget_tests.dart
**/test/DriverTest.dart
**/test/test_config.dart
**/test/widget_test.dart
/lib/main.dart
/lib/generated_plugin_registrant.dart

# Firebase yapılandırma dosyaları
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
